# 3rd party
github "SwiftyJSON/SwiftyJSON" ~> 4.0
github "onevcat/Kingfisher" ~> 5.0

# 3SidedCube
github "3sidedcube/ThunderTable" "feature/declarative-section"
github "BenShutt/HTTPRequest" "develop"
